:root {
    --primary-color: #3498db;
    --secondary-color: #2c3e50;
    --text-color: #dcdcdc;
    --bg-color: rgb(33 37 41);
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: var(--secondary-color);
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.hero {
    background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    color: #fff;
    padding: 150px 0;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.section-title {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}

.section-title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: var(--primary-color);
}

.project-card {
    border: none;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.skill-item {
    background-color: #474747;
    border-radius: 30px;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.text_alignment {
    text-align: justify;
}

.text_oblique{
    color: #3498db;
    font-style: oblique;
}

.text_date{
    color: #04395c;
    font-style: oblique;
    font-size: large;
}

/* Social_Media_section */

.social-media-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0;
}

.social-media-links a {
    color: #dadada;
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-media-links a:hover {
    color: #565555;
}
